@ensemble:registry=https://artifactory.solutions.corelogic.com/artifactory/api/npm/platform_ux_us-uxensemble-npm-release-virtual/

registry=https://artifactory.solutions.corelogic.com/artifactory/api/npm/platform_ux_us-uxensemble-npm-release-virtual/
