
<en-btn target="i-like-modals" action="modal">
  I like Modals
</en-btn>

<en-modal id="i-like-modals" label="Modal Title">
  The quick brown fox jumps over the lazy dog.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Optio unde corporis consequatur consequuntur architecto, animi, enim ut id.
  Adipisci voluptates, porro cupiditate et fugit debitis natus ipsa dolore eum.

  <footer slot="footer">
    <en-btn size="sm" target="i-like-modals" action="close">
      Close
    </en-btn>
  </footer>
</en-modal>



<en-accordion label="How to Make Cookies?">
  Aenean velit tortor, tristique ac tellus eget, venenatis finibus dui. Ut venenatis dui ut accumsan
  mattis. Sed malesuada lobortis ex, et volutpat nulla consectetur dignissim. Nullam at feugiat orci, non interdum nulla.
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id neque in tellus
  lacinia egestas sit amet quis felis. Praesent pharetra leo elit, at dignissim est vulputate eget. Vestibulum posuere non
  risus ac tincidunt. Fusce facilisis ligula vel metus tempus, quis hendrerit justo mollis. Vestibulum blandit enim sit
  amet sem volutpat commodo. Vivamus fringilla nibh et nisi bibendum, ac blandit odio ornare.


  <en-accordion label="How to Make Hot Chocolate?">
    Aenean velit tortor, tristique ac tellus eget, venenatis finibus dui. Ut venenatis dui ut
    accumsan mattis. Sed malesuada lobortis ex, et volutpat nulla consectetur dignissim. Nullam at feugiat orci, non
    interdum nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id
    neque in tellus lacinia egestas sit amet quis felis. Praesent pharetra leo elit, at dignissim est vulputate eget.
    Vestibulum posuere non risus ac tincidunt. Fusce facilisis ligula vel metus tempus, quis hendrerit justo mollis.
    Vestibulum blandit enim sit amet sem volutpat commodo. Vivamus fringilla nibh et nisi bibendum, ac blandit odio
    ornare.

    <en-accordion label="How to Make Coffee?">
      Aenean velit tortor, tristique ac tellus eget, venenatis finibus dui. Ut venenatis dui ut accumsan
      mattis. Sed malesuada lobortis ex, et volutpat nulla consectetur dignissim. Nullam at feugiat orci, non interdum
      nulla.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id neque in tellus
      lacinia egestas sit amet quis felis. Praesent pharetra leo elit, at dignissim est vulputate eget. Vestibulum posuere
      non
      risus ac tincidunt. Fusce facilisis ligula vel metus tempus, quis hendrerit justo mollis. Vestibulum blandit enim sit
      amet sem volutpat commodo. Vivamus fringilla nibh et nisi bibendum, ac blandit odio ornare.
    </en-accordion>
  </en-accordion>

</en-accordion>

<en-accordion label="How to Make Cookies?">
  Aenean velit tortor, tristique ac tellus eget, venenatis finibus dui. Ut venenatis dui ut accumsan
  mattis. Sed malesuada lobortis ex, et volutpat nulla consectetur dignissim. Nullam at feugiat orci, non interdum nulla.
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id neque in tellus
  lacinia egestas sit amet quis felis. Praesent pharetra leo elit, at dignissim est vulputate eget. Vestibulum posuere non
  risus ac tincidunt. Fusce facilisis ligula vel metus tempus, quis hendrerit justo mollis. Vestibulum blandit enim sit
  amet sem volutpat commodo. Vivamus fringilla nibh et nisi bibendum, ac blandit odio ornare.
</en-accordion>

<en-accordion label="How to Make Hot Chocolate?">
  Aenean velit tortor, tristique ac tellus eget, venenatis finibus dui. Ut venenatis dui ut
  accumsan mattis. Sed malesuada lobortis ex, et volutpat nulla consectetur dignissim. Nullam at feugiat orci, non
  interdum nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id
  neque in tellus lacinia egestas sit amet quis felis. Praesent pharetra leo elit, at dignissim est vulputate eget.
  Vestibulum posuere non risus ac tincidunt. Fusce facilisis ligula vel metus tempus, quis hendrerit justo mollis.
  Vestibulum blandit enim sit amet sem volutpat commodo. Vivamus fringilla nibh et nisi bibendum, ac blandit odio ornare.
</en-accordion>

<en-accordion label="How to Make Coffee?">
  Aenean velit tortor, tristique ac tellus eget, venenatis finibus dui. Ut venenatis dui ut accumsan
  mattis. Sed malesuada lobortis ex, et volutpat nulla consectetur dignissim. Nullam at feugiat orci, non interdum nulla.
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id neque in tellus
  lacinia egestas sit amet quis felis. Praesent pharetra leo elit, at dignissim est vulputate eget. Vestibulum posuere non
  risus ac tincidunt. Fusce facilisis ligula vel metus tempus, quis hendrerit justo mollis. Vestibulum blandit enim sit
  amet sem volutpat commodo. Vivamus fringilla nibh et nisi bibendum, ac blandit odio ornare.
</en-accordion>

<div class="mt-13"></div>

<button class="btn btn-primary btn-lg">
  Click it Good
</button>

<en-dropdown label="Bob Saget">
  <en-btn kind="secondary" size="lg" slot="action">
    <en-icon icon="user-circle-bold"></en-icon>
    Bob Saget
  </en-btn>

  <en-menu>
    <en-menu-item>
      Account Settings
    </en-menu-item>
    <en-menu-item>
      User Profile
    </en-menu-item>
    <en-menu-item>
      Sign out
    </en-menu-item>
  </en-menu>
</en-dropdown>

<router-outlet></router-outlet>
