I like Turtles

<button class="btn btn-primary btn-lg" type="button">
  Click it Good
</button>

<en-btn target="my-dropdown" action="dropdown">
  <en-icon icon="user-circle-bold" />
  Bob Saget
</en-btn>

<en-dropdown id="my-dropdown">
  <en-menu>
    Account Settings
  </en-menu>
  <en-menu>
    User Profile
  </en-menu>
  <en-menu>
    Sign out
  </en-menu>
</en-dropdown>

<en-btn target="myModal" action="modal">
  I like Modals
</en-btn>

<en-modal id="myModal" label="The label">

  <header>
    The Header
  </header>

  <body>
    The body
  </body>

  <footer slot="footer">
    <en-btn size="sm" target="myModal" action="close">
      Close
    </en-btn>
  </footer>
</en-modal>

<en-accordion label="What kind of bagel can fly?">
  <p>
    How to Make Cookies? Aenean velit tortor, tristique ac tellus eget, venenatis finibus dui. Ut venenatis dui ut accumsan mattis. Sed malesuada lobortis ex, et volutpat nulla consectetur dignissim. Nullam at feugiat orci, non interdum nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id neque in tellus lacinia egestas sit amet quis felis. Praesent pharetra leo elit, at dignissim est vulputate eget. Vestibulum posuere non risus ac tincidunt. Fusce facilisis ligula vel metus tempus, quis hendrerit justo mollis. Vestibulum blandit enim sit amet sem volutpat commodo. Vivamus fringilla nibh et nisi bibendum, ac blandit odio ornare.
  </p>

  <p>
    How to Make Hot Chocolate? Aenean velit tortor, tristique ac tellus eget, venenatis finibus dui. Ut venenatis dui ut accumsan mattis. Sed malesuada lobortis ex, et volutpat nulla consectetur dignissim. Nullam at feugiat orci, non interdum nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id neque in tellus lacinia egestas sit amet quis felis. Praesent pharetra leo elit, at dignissim est vulputate eget. Vestibulum posuere non risus ac tincidunt. Fusce facilisis ligula vel metus tempus, quis hendrerit justo mollis. Vestibulum blandit enim sit amet sem volutpat commodo. Vivamus fringilla nibh et nisi bibendum, ac blandit odio ornare.
  </p>

  <p>
    How to Make Coffee? Aenean velit tortor, tristique ac tellus eget, venenatis finibus dui. Ut venenatis dui ut accumsan mattis. Sed malesuada lobortis ex, et volutpat nulla consectetur dignissim. Nullam at feugiat orci, non interdum nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id neque in tellus lacinia egestas sit amet quis felis. Praesent pharetra leo elit, at dignissim est vulputate eget. Vestibulum posuere non risus ac tincidunt. Fusce facilisis ligula vel metus tempus, quis hendrerit justo mollis. Vestibulum blandit enim sit amet sem volutpat commodo. Vivamus fringilla nibh et nisi bibendum, ac blandit odio ornare.
  </p>
</en-accordion>



<router-outlet></router-outlet>
